<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<h1>Teste</h1>
	<a href="produtos">produtos</a>
	<br/>
	<a href="clientes">clientes</a>
	<br/>
	<a href="vendas">vendas</a>
</body>
</html>